config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="file">
          <xs:complexType>
            <xs:attribute name="source_path" type="xs:string" use="required" />
            <xs:attribute name="destination_path" type="xs:string" use="required" />
            <xs:attribute name="file_name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>